<h2>All Contacts</h2>

<ul id="contactlist">
<% @@rolodex.contacts.each do |contact| %>
	<div id="contactcards">
		<li><%= contact.first_name %> <%= contact.last_name %> <hr> <%= contact.email %> <br> Note: <%= contact.note %> <br> ID: <%= contact.id %></li>
	</div>

<% end %>

</ul>